.post-content {
	@apply text-base leading-relaxed;

	h1, h2, h3, h4, h5, h6 {
		@apply font-bold text-gray-800;
	}

	h1 {
		@apply text-3xl mt-10 mb-8;
	}

	h2 {
		@apply text-2xl mt-8 mb-7;
	}

	h3 {
		@apply text-xl mt-7 mb-6;
	}

	h4 {
		@apply text-lg mt-6 mb-5;
	}

	h5 {
		@apply text-base mt-5 mb-4;
	}

	h6 {
		@apply text-base mt-4 mb-3;
	}

	:first-child {
		@apply mt-0;
	}

	:last-child {
		@apply mb-0;
	}
}
